<div [ngClass]="classCss" role="alert" *ngIf="message">
    <strong>{{message.text}}</strong>
  </div>
  <div class="box box-default collapse-box">
      <div class="box-header with-border">
        <h3 class="box-title">Filtrar Ticket</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="inputNumer">Número do Ticket</label>
              <input type="text" 
              class="form-control"
              id="inputNumber"
              placeholder="Digite o Numero do Ticket"
              [(ngModel)]="ticketFilter.number"
               name="number">
            </div>
            <!-- /.form-group -->
            <div class="form-group">
              <label for="inputTitle">Titúlo</label>
              <input type="text" 
              class="form-control"
              id="inputTitle"
              placeholder="Informe o Titulo"
              [(ngModel)]="ticketFilter.title"
               name="title">
            </div>
            <!-- /.form-group -->
          </div>
          <!-- /.col -->
          <div class="col-md-6">
            <div class="form-group">
              <label for="inputStatus">Status</label>
              <select class="form-control select2" data-placeholder="Select a State"
                id="inputStatus"
                [(ngModel)]="ticketFilter.staus"
                name="status"
                style="width: 100%">
                  <option>Novo</option>
                  <option>Em_Andamento</option>
                  <option>Resolvido</option> 
                  <option>Desaprovado</option>
                  <option>Aprovado</option>
                  <option>Fechado</option>
                  <option>Designado</option>
              </select>
            </div>
            <!-- /.form-group -->
            <div class="form-group">
              <label for="inputPriority">Prioridade</label>
              <select class="form-control select2" data-placeholder="Select a State"
                id="inputPriority"
                [(ngModel)]="ticketFilter.priority"
                name="priority"
                style="width: 100%">
                  <option>Alta</option>
                  <option>Normal</option>
                  <option>Baixa</option>
              </select>
            </div>
            <!-- /.form-group -->            
          </div>          
          <!-- /.col -->
          <div class="box-footer">
              <button  class="btn btn-info pull-left" (click)="cleanFilter()">Limpar</button>
              <button  style="margin-left: 10px" class="btn btn-info pull-right" (click)="filter()">Consultar</button>
          </div>
        </div>
        <!-- /.row -->
      </div>
      <!-- /.box-body -->
    </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Lista de Ticket</h3>
        </div>       

        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
          <table class="table table-bordered table-hover">
              <thead>
            <tr>            
              <th>Numero Ticket</th>
              <th>Título</th>
              <th>Prioridade</th>
              <th>Status</th>
              <th>Criador</th>
              <th>&nbsp;</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ticket of listTicket">
              <td>{{ticket.number}}</td>
              <td>{{ticket.title}}</td>
              <td>{{ticket.priority}}</td>
              <td>{{ticket.status}}</td>
              <td>{{ticket.user.name}}</td>
              <td><button class="btn btn-primary" (click)="edit(ticket.id)">Editar</button></td>
              <td><button class="btn btn-success" (click)="detail(ticket.id)">Detalhe</button></td>
            </tr>
          </tbody>
          </table>
        </div>
        <!-- /.box-body -->
        <div class="box-footer clearfix">
            <ul class="pagination pagination-sm no-margin pull-right">
              <li>
                <a href="" (click)="setPreviousPage($event)">&laquo;</a>
              </li>
              <li *ngFor="let p of pages; let i=index">
                  <a [ngClass]="{'pagination-focus':i==page}"  href="" (click)="setPage(i,$event)">{{i+1}}</a>
              </li>
              <li>
                <a href="" (click)="setNextPage($event)">&raquo;</a>
              </li>
            </ul>
          </div>
      </div>
    </div>
</div>